*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

   background-color: □green;rgb 
   text align:center;
   line-height:2,1;
}

.hero img{
    border- radius: 50;
}

.accent{
    color:□blue(156,46,18)
}
