*{ 
    margin: 100px;
    padding: 100px;
    box-sizing: border-box;
}

   background-color □beige;rgb 
   text align:center
   line-height:2,1;
}

.hero img{"image.jpeg"
    border- radius: 50;
}

.accent{
    color:□blue(156,46,18)
}

