*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
   background-color:rgb(173,216,230);
   text-align:center;
   line-height:2.1;
}
.hero img{
    border-radius:50%;
}

img {
    width: 300px;
    height: auto;
}
.accent {
    color: rgb(181,60,0);
    font-style: italic;
    font-weight:bold;

}  

@media (max-width: 768px) {
        body{background-color:rgb(235,220,140);}
}


 .grid{
    display: flex;
    justify-content: center;
    /*justify-content: space-around;*/
    gap:15px;
    flex-wrap:wrap;
 }


 .grid div{
    background-color: rgb(240,255,255);
    border-radius: 100px;
    padding: 10px;
    min-width: 80px;
 }

 #about {
  border: 2px solid rgb(173,216,230);        /* Dark border around the section */
  border-radius: 10px;           /* Rounded corners */
  padding: 20px;                 /* Space inside the box */
  margin: 20px auto;             /* Space outside, auto centers it */
  max-width: 800px;              /* Keeps it from stretching too wide */
  background-color: #f9f9f9;     /* Light background for contrast */

}