*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
   background-color:solid beige;
   text-align:center;
   line-height:2.1;
}
.hero img{
    border-radius:50%;
}

img {
    width: 300px;
    height: auto;
}
.accent {
    color: rgb(181,60,0);
    font-style: italic;
    font-weight:bold;

}   @media screen{
         (max-width: 768px) 
        body(background-colour:beige)
}


 .grid{
    display: flex;
    justify-content: center;
    /*justify-content: space-around;*/
    gap:15px;
    flex-wrap:wrap;
 }


 .grid div{
    background-color: rgb(240,255,255)
    border-radius: 100px;
    padding: 10px;
    min-width: 80px;
 }
